@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Domine:wght@400;600&family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;1,200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    
font-family: 'Dancing Script', cursive;
font-family: 'Domine', serif;
font-family: 'Montserrat', sans-serif;

}