@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Domine:wght@400;600&family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;1,200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
-clr:#14161e;
}
*{
    
font-family: 'Dancing Script', cursive;
font-family: 'Domine', serif;
font-family: 'Montserrat', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;

}
body{
    min-height: 100vh;
    background-color: rgb(211, 41, 41);
}